@import "./colors.scss";
@import "./fonts.scss";
@import "./shablons.scss";
@import "./breakpoints.scss";

* {
    margin: 0;
    padding: 0;
}

.todo {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1178px;
    height: 640px;
    background-image: $main-bgi;       
}

.todo-image {
    width: 100%;
    height: 100%;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: 650px center;
    position: relative;
}

.todo-area {
    position: absolute;
    width: 544px;
    left: 319px;
    top: 99px;

    background: $bg-light;
    border: 2px solid $bg-title;
    box-sizing: border-box;
    box-shadow: 0px 8px 35px 5px $shadow;    
}

.todo-title {    
    padding: 10px 0;
    text-align: center;
    background: $bg-title;
    @include filter-font;
    color: $font-dark;
}

.todo-list {
    padding: 30px;
    padding-bottom: 0;

    li {
        @extend %task;

        span {
            font-family: Inter;    
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $font-dark;
        }
    }
}

.todo-check {
    appearance: none;
}

.todo-check:before {
    content: "";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid $bg-checked;
    box-sizing: border-box;
    border-radius: 5px;        
    margin-right: 25px; 
}

.todo-check:checked:before {    
    background: $bg-checked;
    border: 0;
    background-image: url(./checked.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.todo-delete {
    width: 24px;
    height: 24px;
    margin-left: auto;
    border: 1.5px solid $bg-title;
    border-radius: 5px;
    background: transparent;
    position: relative;
}

.todo-delete:before,
.todo-delete:after {
    display: block;
    content: "";
    width: 14px;
    height: 1.5px;
    border-radius: 0.75px;
    background-color: $bg-title;
    position: absolute;
    left: calc(50% - 7px);
    top: 50%;    
    transform: rotate(45deg);
}

.todo-delete:after {
    transform: rotate(-45deg);   
}

.todo-delete:hover {
    border: 1.5px solid #FC8F1A;
}

.todo-delete:hover:after,
.todo-delete:hover:before {
    background-color: #FC8F1A;
}

.todo-add {
    width: 480px;
    margin-left: 30px;
    //border-image: url(./dash.png) ...; - variant of the border

    //background: #FFECD8;           - variant of the border
    // border: 1.5px dashed $bg-title;
    // box-sizing: border-box;

    background-image: url(./bg-button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    border: 0;
    border-radius: 10px;
    padding: 15px 0;

    font-family: Inter;
    font-size: 20px;
    color: $bg-title;
}

.todo-filter {
    background: $bg-title;
    padding: 10px 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.todo-left {
    @include filter-font; 
}

.todo-wrapper {

    button {
        @include filter-font;
        border: 0;
        background: transparent;         
    }

    button:not(:last-child) {
        margin-right: 25px;
    }

    .filter-used {
        padding: 5px 10px;
        border: 1px solid $filter;
        box-sizing: border-box;
        border-radius: 10px;
    }

}