$main-bgi: linear-gradient(104.11deg, #FF7E5F 14.52%, #FEB567 87.26%);

$bg-light: #FFF4E9;

$bg-title: #FFCA93;

$shadow: #FE9262;

$font-dark: #7F4B13;

$bg-task: #FFDFBE;

$bg-checked: #FEB567;

$hover: #fc8f1a;

$bg-add: #ffecd8;

$filter: rgba(127, 75, 19, 0.42);