$mainBgi: linear-gradient(104.11deg, #ff7e5f 14.52%, #feb567 87.26%);

$bgLight: #fff4e9;

$bgTitle: #ffca93;

$shadow: #fe9262;

$fontDark: #7f4b13;

$bgTask: #ffdfbe;

$bgChecked: #feb567;

$hover: #fc8f1a;

$bgAdd: #ffecd8;

$filter: rgba(127, 75, 19, 0.42);
