@mixin filterFont {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.25rem;
  color: $filter;
}

%task {
  width: 100%;
  display: flex;
  background: $bgTask;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
